{% extends "banco/base.html" %}
{% load static %}

{% block head %}
    <title>Conta - Banco {{ conta.banco }}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'banco/css/conta.css' %}">
{% endblock head %}

{% block content %}
    <div class="page">
        <form method="POST" class="form_transacao">
            <h1>Transação</h1>
            <p>Digite os seus dados da transação.</p>
            <label for="conta_origem">Conta de origem</label>
            <input type="conta_origem" placeholder="Digite o código da conta" autofocus="true"/>
            <label for="conta_destino">Conta destino</label>
            <input type="conta_destino" placeholder="Digite o código da conta" autofocus="true"/>
            <label for="valor">Valor da transação</label>
            <input type="valor" placeholder="Digite o valor da transação" autofocus="true"/>
            <a href="/">Esqueci minha senha</a>
            <button type="submit" class="btn_transacao"/>Efetuar transação</button>
        </form>
    </div>
{% endblock content %}
