{% extends "banco/base.html" %}
{% load static %}


{% block head %}
    <title>Conta - Banco {{ conta.banco }}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'banco/css/conta.css' %}">
{% endblock head %}

{% block content %}
    <div class="page">
        <div class="infos">
            <table>
                <tr>
                    <td>
                        <h3>ID: </h3>
                    </td>
                    <td>
                        <p>{{ conta.id }}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Titular(es): </h3>
                    </td>
                    <td>
                        <p>{{ conta.titular }}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>Saldo: </h3>
                    </td>
                    <td>
                        <p>{{ conta.saldo }}</p>
                    </td>
                </tr>
            </table>
            <button class="btn_iniciar_transacao"/>Iniciar transação</button>
        </div>
    </div>
{% endblock content %}