{% extends "banco/base.html" %}
{% load static %}

{% block head %}
    <title>Login - Banco {{ conta.banco }}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'banco/css/login.css' %}">
{% endblock head %}

{% block content %}
    <div class="page">
        <form method="POST" class="form_login">
            <h1>Login</h1>
            <p>Digite os seus dados de acesso no campo abaixo.</p>
            <label for="email">E-mail</label>
            <input type="email" placeholder="Digite seu e-mail" autofocus="true"/>
            <label for="password">Senha</label>
            <input type="password" placeholder="Digite sua senha"/>
            <a href="/">Esqueci minha senha</a>
            <button type="submit" class="btn_login"/>Acessar</button>
        </form>
    </div>
{% endblock content %}
