{% extends "banco/base.html" %}
{% load static %}

{% block head %}
    <title>Login - Banco {{ conta.banco }}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'usuarios/css/login.css' %}">
{% endblock head %}

{% block content %}
    <div class="page">
        <form method="POST" class="form_login">
            {% csrf_token %}
            <h1>Login</h1>
            <p>Digite os seus dados de acesso no campo abaixo.</p>
            <label for="email">Nome de usuário</label>
            <input type="text" name="username" placeholder="Digite seu nome de usuario" autofocus="true"/>
            <label for="password">Senha</label>
            <input type="password" name="password" placeholder="Digite sua senha"/>
            <a href="/">Esqueci minha senha</a>
            <button type="submit" class="btn_login"/>Acessar</button>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        </form>
    </div>
{% endblock content %}
